$break-mobile: 22.438em; // 359px
$break-mobile-land: 32em; // 512px
$break-tablet: 40.063em; // 641px
$break-desktop: 50em; // 800px
$break-desktop-mini: 55em; // 880px
$break-desktop-med: 64.063em; // 1025px
$break-mobile-nav: 68.125em; // 1090px
$break-desktop-wide: 75em; // 1200px
$break-desktop-wider: 83.75em; // 1340px
$break-desktop-xl: 88em; // 1408px

$black: #000;
$white: #fff;
$grey: #e4e4e4;
$light-grey: #f5f5f5;
$lightest-green: #eafbf1;
$light-green: #94eab8;
$green: #20a056;
$dark-green: #156a39;
$darkest-green: #082b17;
$blue: #4ed5de;

$space-05: var(--wp--preset--spacing--05);
$space-10: var(--wp--preset--spacing--10);
$space-20: var(--wp--preset--spacing--20);
$space-30: var(--wp--preset--spacing--30);
$space-40: var(--wp--preset--spacing--40);
$space-50: var(--wp--preset--spacing--50);
$space-60: var(--wp--preset--spacing--60);
